html {
  background-color: #2c2c2c;
}

.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.addStockForm {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 33px;
  padding-bottom: 20px;
  width: max-content;
  font: 100;
  text-align: center;
  background-color: rgb(126, 39, 121);
  border-radius: 50vh;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.addStockForm input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: inherit;
  padding: 0.5em 1em;
  background-color: #eff1d1;
  border-radius: 1vh;
}

.addStockForm button {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5em 1em;
  width: max-content;
  border-radius: 50vh;
  margin: 10px;
}

.addStockForm button:hover {
 
}




.stockTable {
  margin: 100px;
  font: 100;
  align-self: baseline;
  text-align: center;
  background-color: rgb(126, 39, 121);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  color: white;
  border-radius: 20px;
  padding: 20px;
}

.stockTable th {
  padding: 10px;
  width: 200px;
  text-align: center;
  word-wrap: break-word;
  flex-wrap: wrap;  
}

.stockTable tr {
  height: 50px;
}

.stockTable input {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5em 1em;
  background-color: #ddd;
  border-radius: 1vh;
}

.stockTable button {
  line-height: 1.5em;
  width: max-content;
  border-radius: 50vh;
  padding: 0.5em 1em;
}
